<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI -->
    <link href="__PUBLIC__/css/jquery-ui.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet">
    <link href="__PUBLIC__/vendors/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="__PUBLIC__/vendors/select/bootstrap-select.min.css" rel="stylesheet">
    <link href="__PUBLIC__/vendors/tags/css/bootstrap-tags.css" rel="stylesheet">

    <link href="__PUBLIC__/css/forms.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sweetalert.css">
    <link href="__PUBLIC__/css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="header">
	    <!-- 引入header -->
		    <include file="Public:header" />
		<!-- 引入结束 -->
	</div>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-12">
		  	<div class="row">
  				<div class="col-md-12">
		  				<div class="panel-body">
		  					<div class="content-box-large">
			  				<div class="panel-body">
			  				<form  class="form-horizontal" method="post" role="form" enctype="multipart/form-data">
			  					<div class="row">
			  						<div class="col-md-6">
			  							<div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">* Account</label>
									    <div class="col-sm-6">
										    <div>
					  							<select class="form-control" name="account" id="account">
					  							  <option value=""></option>
												  <volist name="account" id="vo">
												  		<if condition="($vo['id'] eq $data[0]['accountid'])">
													  		<option value="{$vo['id']}" selected="selected">{$vo['companyname']}</option>
													  	<else/>
													  	    <option value="{$vo['id']}">{$vo['companyname']}</option>
													    </if>
												  </volist>
												</select>
					  						</div>
									    </div>
									  </div>
			  						</div>
			  						<div class="col-md-6">
			  							<div class="form-group">
										    <label for="inputPassword3" class="col-sm-3 control-label">* Folio</label>
										    <div class="col-sm-6">
										      <if condition="($data[0]['folio'] neq null)">
										      	<input type="text" class="form-control" name="folio" id="folio" value={$data[0]['folio']} id="folio">
										   	 <else/>
										     	 <input type="text" class="form-control" name="folio" id="folio">
										    	</if>
										    </div>
										  </div>
			  						</div>
			  					</div>
			  					
			  					<div class="row">
			  						<div class="col-md-6">
			  							<div class="form-group">
										    <label for="inputPassword3" class="col-sm-3 control-label">* Client Name CN</label>
										    <div class="col-sm-6">
										       <if condition="($data[0]['cnc'] neq null)">
											      <input type="text" class="form-control" name="cn" id="cn" value={$data[0]['cnc']}>
											    <else/>
											      <input type="text" class="form-control" name="cn" id="cn">
											    </if>
										    </div>
										  </div>
			  						</div>
			  						<div class="col-md-6">
			  							<div class="form-group">
										    <label for="inputPassword3" class="col-sm-3 control-label">* Client Name EN</label>
										    <div class="col-sm-6">
										      <if condition="($data[0]['cne'] neq null)">
											      <input type="text" class="form-control" name="en" id="en" value={$data[0]['cne']}>
											    <else/>
											      <input type="text" class="form-control" name="en" id="en">
											    </if>
										    </div>
										  </div>
			  						</div>
			  					</div>
								  
								 <div class="row">
			  						<div class="col-md-6">
			  							<div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">* Project</label>
									    <div class="col-sm-6">
										    <div>
												<select class="form-control" name="project" id="project">
					  							  <option value=""></option>
												  <volist name="project" id="vo2">
												  		<if condition="($vo2['id'] eq $data[0]['projectid'])">
													  	   <option value="{$vo2['id']}" selected="selected">{$vo2['projectname']}</option>
													  <else/>
													       <option value="{$vo2['id']}">{$vo2['projectname']}</option>
													   </if>
												  </volist>
												</select>
					  						</div>
									    </div>
									  </div>
			  						</div>
			  						<div class="col-md-6">
			  							<div class="form-group">
										    <label for="inputPassword3" class="col-sm-3 control-label">* Months</label>
											    <div class="col-sm-6">
							  						<if condition="($data[0]['month'] neq null)">
								  						<input class="form-control" name="month" type="text" id="datetimepicker" placeholder="YYYY-MM-DD" value={$data[0]['month']}>
								  				    <else/>
								  				        <input class="form-control" name="month" type="text" id="datetimepicker" placeholder="YYYY-MM-DD">
								  				    </if>
							  					</div>
										  </div>
			  						</div>
			  					</div>
								  
								  
								 <div class="row">
			  						<div class="col-md-6">
			  							<div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">* Size</label>
									    <div class="col-sm-6">
										    <div>
												<select class="form-control" name="size" id="size">
					  							  <option value=""></option>
												  <volist name="size" id="vo3">
												  		<if condition="($vo3['id'] eq $data[0][sizeid])">
													  		<option value="{$vo3['id']}" selected="selected">{$vo3['sizedsp']}</option>
													  <else/>
													        <option value="{$vo3['id']}">{$vo3['sizedsp']}</option>
													  </if>
												  </volist>
												</select>
					  						</div>
									    </div>
									  </div>
			  						</div>
			  						<div class="col-md-6">
			  							  <div class="form-group">
										    <label for="inputPassword3" class="col-sm-3 control-label">* Amount</label>
										    <div class="col-sm-6">
										      <if condition="($data[0]['amount'] neq null)">
										      <input type="text" class="form-control" name="amount" id="amount" value={$data[0]['amount']}>
										    <else/>
										      <input type="text" class="form-control" name="amount" id="amount" value={$data[0]['amount']}>
										    </if>
										    </div>
										  </div>
			  						</div>
			  					</div>
			  					<div class="row">
			  						<div class="col-md-6">
			  							 <div class="form-group">
										    <label for="inputPassword3" class="col-sm-3 control-label">* Due Date</label>
										    <div class="col-sm-6">
						  						<if condition="($data[0]['ddate'] neq null)">
							  						<input class="form-control" type="text" name="duedate" id="datetimepicker2" placeholder="YYYY-MM-DD" value={$data[0]['ddate']}>
							  				     <else/>
							  				        <input class="form-control" type="text" name="duedate" id="datetimepicker2" placeholder="YYYY-MM-DD">
							  				     </if>
						  					</div>
										  </div>
			  						</div>
			  						<div class="col-md-6">
			  							<div class="form-group">
										    <label for="inputPassword3" class="col-sm-3 control-label">Actual</label>
										    <div class="col-sm-6">
										      <if condition="($data[0]['actual'] neq null)">
											      <input type="text" class="form-control" name="actual" id="actual" value={$data[0]['actual']}>
											    <else/>
											      <input type="text" class="form-control" name="actual" id="actual">
											    </if>
										    </div>
										  </div>
			  						</div>
			  						
			  						
			  					</div>
								  
								  <div class="row">
			  						<div class="col-md-6">
			  							<div class="form-group">
										    <label for="inputPassword3" class="col-sm-3 control-label">Receipt Date</label>
										    <div class="col-sm-6">
						  						<if condition="($data[0]['gdate'] neq null)">
							  						<input class="form-control" name="receiptdate" type="text" id="datetimepicker3" placeholder="YYYY-MM-DD" value={$data[0]['gdate']}>
							  				    <else/>
							  				        <input class="form-control" name="receiptdate" type="text" id="datetimepicker3" placeholder="YYYY-MM-DD">
							  				    </if>
						  					</div>
										  </div>
			  						</div>
			  						<div class="col-md-6">
										<div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">* Method</label>
									    <div class="col-sm-6">
										    <div>
												<select class="form-control" name="method" id="method">
					  							  <option value=""></option>
												  <volist name="method" id="vo4">
												  		<if condition="($vo4['id'] eq $data[0][methodid])">
													  		<option value="{$vo4['id']}" selected="selected">{$vo4['method']}</option>
													  <else/>
													  	    <option value="{$vo4['id']}">{$vo4['method']}</option>
													  </if>
												  </volist>
												</select>
					  						</div>
									    </div>
									  </div>
									</div>
			  						
			  					</div>
								  
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
										    <label for="inputPassword3" class="col-sm-3 control-label">* Sales</label>
										    <div class="col-sm-6">
											    <div>
													<select class="form-control" name="sales" id="sales">
						  							  <option value=""></option>
													  <volist name="sales" id="vo5">
													  	 <if condition="($vo5['id'] eq $data[0][salesid])">
													  		<option value="{$vo5['id']}" selected="selected">{$vo5['name']}</option>
														  <else/>
														        <option value="{$vo5['id']}">{$vo5['name']}</option>
														  </if>
													  </volist>
													</select>
						  						</div>
										    </div>
										  </div>
									</div>
									<div class="col-md-6">
										  <div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">Notes</label>
									    <div class="col-sm-6">
									    <if condition="($data[0]['notes'] neq null)">
									      <input type="text" name="notes" class="form-control" id="notes" value={$data[0]['notes']}>
									    <else/>
									      <input type="text" name="notes" class="form-control" id="notes">
									    </if>
									    </div>
									  </div>
			  						</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">Inv. Date</label>
									    <div class="col-sm-6">
					  						 <if condition="($data[0]['page'] neq null)">
						  						<input class="form-control" name="invdate" type="text" id="datetimepicker4" placeholder="YYYY-MM-DD" value={$data[0]['page']}>
						  				    <else/>
						  				        <input class="form-control" name="invdate" type="text" id="datetimepicker4" placeholder="YYYY-MM-DD">
						  				    </if>
					  					</div>
									  </div>
									</div>
									<div class="col-md-6">
										 <div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">Inv. Content</label>
									    <div class="col-sm-6">
									    <div>
											<select class="form-control" name="invcontent" id="invcontent">
				  							  <option value=""></option>
				  					    <if condition="($a eq 'Ad.')">
											  <option value="Ad." selected="selected">Ad.</option>
									    <else/>
									          <option value="Ad.">Ad.</option>
									    </if>
									    <if condition="($a eq 'Service')">
											  <option value="Service" selected="selected">Service</option>
									    <else/>
									          <option value="Service">Service</option>
									    </if>
											</select>
				  						</div>
								    </div>
									  </div>
									</div>
								</div>
								 
								 <div class="row">
									<div class="col-md-6">
										<div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">VAT Special Inv.</label>
									    <div class="col-sm-6">
										    <div>
												<select class="form-control" name="special" id="special">
					  							  <option value=""></option>
					  							<if condition="($data[0][special]) eq 'Yes'">
												  <option value="Yes" selected="selected">Yes</option>
												<else/>
												  <option value="Yes">Yes</option>
	                                            </if>
	                                            <if condition="($data[0][special]) eq 'No'">
												  <option value="No" selected="selected">No</option>
												<else/>
												  <option value="No">No</option>
												</if>
												</select>
					  						</div>
									    </div>
									  </div>
									</div>
									<div class="col-md-6">
										 <div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">Invoice No.</label>
									    <div class="col-sm-6">
									      <if condition="($b neq null)">
										      <input type="text" class="form-control" name="invoiceno" id="invoiceno" value={$b}>
										    <else/>
										       <input type="text" class="form-control" name="invoiceno" id="invoiceno">
										    </if>
									    </div>
									  </div>
									</div>
								</div>

								 <div class="row">
									<div class="col-md-6">
										 <div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">* Territory</label>
									    <div class="col-sm-6">
										    <div>
												<select class="form-control" name="territory" id="territory">
					  							  <option value=""></option>
												  <volist name="territory" id="vo6">
												  		<if condition="($vo6['id'] eq $data[0]['territoryid'])">
													  		<option value="{$vo6['id']}" selected="selected">{$vo6['tdescription']}</option>
													  <else/>
													        <option value="{$vo6['id']}">{$vo6['tdescription']}</option>
													  </if>
												  </volist>
												</select>
					  						</div>
									    </div>
									  </div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">* Copy</label>
									    <div class="col-sm-6">
										    <div>
					  							<select class="form-control" name="copy" id="copy">
					  							  <option value=""></option>
					  						<if condition="($data[0]['copy'] eq 'Yes' or $data[0]['copy'] eq 'YES')">
												  <option value="Yes" selected="selected">Yes</option>
										    <else/>
										          <option value="Yes">Yes</option>
										    </if>
										    <if condition="($data[0]['copy'] eq 'No' or $data[0]['copy'] eq 'NO')">
												  <option value="No" selected="selected">No</option>
										    <else/>
										    	  <option value="No">No</option>
										    </if>
												</select>
					  						</div>
									    </div>
									  </div>
									</div>
								</div>
								<div class="row col-sm-12">
								    <div class="col-sm-offset-2">
								    	<a class="btn btn-lg btn-primary" id="submit" onclick="add();">Add</a>
								    	<a class="btn btn-lg btn-success" id="submit" onclick="save();">Save</a>
								        <a class="btn btn-lg btn-danger" id="submit" onclick="del({$data[0]['id']});">Delete</a>
								    </div>
								</div>
                                <input type="hidden" value="{$data[0]['id']}" id="id"></input>
								</form>
			  				</div>
			  			</div>
		  				</div>
  				</div>
  			</div>
  			
		  </div>
		</div>
    </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2014 <a href='#'>Website</a>
            </div>
            
         </div>
      </footer>
      <input type="hidden" class="abc" value="$backend">
      <link href="__PUBLIC__/vendors/datatables/dataTables.bootstrap.css" rel="stylesheet" media="screen">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/js/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="__PUBLIC__/js/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/vendors/datatables/js/jquery.dataTables.min.js"></script>

    <script src="__PUBLIC__/vendors/datatables/dataTables.bootstrap.js"></script>

    <script src="__PUBLIC__/js/custom.js"></script>
    <script src="__PUBLIC__/js/tables.js"></script>
    <script src="__PUBLIC__/js/main.min.js"></script>


    <script src="__PUBLIC__/vendors/form-helpers/js/bootstrap-formhelpers.min.js"></script>

    <script src="__PUBLIC__/vendors/select/bootstrap-select.min.js"></script>

    <script src="__PUBLIC__/vendors/tags/js/bootstrap-tags.min.js"></script>

    <script src="__PUBLIC__/vendors/mask/jquery.maskedinput.min.js"></script>

    <script src="__PUBLIC__/vendors/moment/moment.min.js"></script>

    <script src="__PUBLIC__/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

     <!-- bootstrap-datetimepicker -->
     <link href="__PUBLIC__/vendors/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet">
     <script src="__PUBLIC__/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script> 

    
    <link href="__PUBLIC__/css/bootstrap-editable.css" rel="stylesheet"/>
	<script src="__PUBLIC__/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/sweetalert.min.js"></script>
    <script src="__PUBLIC__/js/custom.js"></script>
    <script src="__PUBLIC__/js/forms.js"></script>
    <script>
        // var account = $(".bfh-selectbox-option").html().toString();
		/*$(document).ready(function(){
		// var backend = "abcdefg";	//from php backend
		var backend = {$backend};
		var 
		alert(backend);
		$(".bfh-selectbox-option").html(backend);
		});*/
		$('#datetimepicker,#datetimepicker2,#datetimepicker3,#datetimepicker4').datetimepicker({ 
		　　minView: "month", //选择日期后，不会再跳转去选择时分秒 
		　　format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式 
		　　language: 'zh-CN', //汉化 
		　　autoclose:true //选择日期后自动关闭 
		});
		function add(){
		var account = $('#account').val();
	    var folio = $('#folio').val();
	    var cn = $('#cn').val();
	    var en = $('#en').val();
	    var project = $('#project').val();
	    var month = $('#datetimepicker').val();
	    var size = $('#size').val();
	    var amount = $('#amount').val();
	    var duedate = $('#datetimepicker2').val();
	    var actual = $('#actual').val();
	    var receiptdate = $('#datetimepicker3').val();
	    var method = $('#method').val();
	    var sales = $('#sales').val();
	    var notes = $('#notes').val();
	    var invdate = $('#datetimepicker4').val();
	    var invcontent = $('#invcontent').val();
	    var special = $('#special').val();
	    var invoiceno = $('#invoiceno').val();
	    var territory = $('#territory').val();
	    var copy = $('#copy').val();
		$.post("{:U('Information/upload')}",{account:account,folio:folio,cn:cn,en:en,project:project,month:month,size:size,amount:amount,duedate:duedate,actual:actual,receiptdate:receiptdate,method:method,sales:sales,notes:notes,invdate:invdate,invcontent:invcontent,special:special,invoiceno:invoiceno,territory:territory,copy:copy},function(a)
        {
        	swal({
            		title: "Upload successfully!",   
					type: "success",   
					timer: 1000,   
					showConfirmButton: false
            	},function(){
            		window.location.href=document.referrer;
            	})
        });
		}
		function save(){
			var account = $('#account').val();
		    var folio = $('#folio').val();
		    var cn = $('#cn').val();
		    var en = $('#en').val();
		    var project = $('#project').val();
		    var month = $('#datetimepicker').val();
		    var size = $('#size').val();
		    var amount = $('#amount').val();
		    var duedate = $('#datetimepicker2').val();
		    var actual = $('#actual').val();
		    var receiptdate = $('#datetimepicker3').val();
		    var method = $('#method').val();
		    var sales = $('#sales').val();
		    var notes = $('#notes').val();
		    var invdate = $('#datetimepicker4').val();
		    var invcontent = $('#invcontent').val();
		    var special = $('#special').val();
		    var invoiceno = $('#invoiceno').val();
		    var territory = $('#territory').val();
		    var copy = $('#copy').val();
		    var id = $('#id').val();
		    $.post("{:U('Information/save')}",{account:account,folio:folio,cn:cn,en:en,project:project,month:month,size:size,amount:amount,duedate:duedate,actual:actual,receiptdate:receiptdate,method:method,sales:sales,notes:notes,invdate:invdate,invcontent:invcontent,special:special,invoiceno:invoiceno,territory:territory,copy:copy,id:id},function(a)
	        {
	        	swal({
            		title: "Save successfully!",   
					type: "success",   
					timer: 1000,   
					showConfirmButton: false
            	},function(){
            		window.location.href=document.referrer;
            	})
	        });
		}
		function del(id){
			swal({   
					title: "Are you sure to delete?",   
					text: "",  
					type: "warning",  
					showCancelButton: true,   
				    confirmButtonColor: "#DD6B55",   
				    confirmButtonText: "Yes, remove it!",   
				    closeOnConfirm: false 
				}, function(){  
					$.post("{:U('Information/delete')}?id="+id,function(data){
						if(data == "true"){
							swal({
									title: "Delete successfully!",   
									text: "",
									type: "success",   
									timer: 1000,   
									showConfirmButton: false
								 },function(){
								 	window.location.href=document.referrer;
								 }
								); 
						}
					});
					
				});
		}
    </script>
  </body>
</html>